<!-- <section class="example-section" >
    <mat-checkbox *ngFor="let item of optionList"  [(ngModel)]="item.value === value" (change)="onchange(item.value)">{{item.name}}</mat-checkbox>
</section> -->

<ion-col *ngFor="let e of optionList">
    <section>
      <mat-checkbox [disabled]="disabled"
                    [checked]="this.model.length && this.model.indexOf(e.id) > -1"
                    [value]="e[value]"
                    (change)="setValue(e)">
        {{ e[display] }} 
      </mat-checkbox>
    </section>
  </ion-col>